.e48_7 {
    overflow: hidden;
}

.e48_7 {
    background-color: rgba(216.5375518798828, 248.07675629854202, 255, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e48_8 {
    color: rgba(0, 0, 0, 1);
    width: 1305px;
    height: 94px;
    position: absolute;
    left: 67px;
    top: 43px;
    font-family: Inter;
    text-align: center;
    font-size: 96px;
    letter-spacing: 0;
}

.e51_24 {
    width: 853px;
    height: 354px;
    position: absolute;
    left: 103px;
    top: 161px;
}

.e49_9 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 592px;
    height: 354px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/rectangle_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e49_9 {
    border: 5px solid rgba(0, 0, 0, 1);
}

.e51_18 {
    background-color: rgba(250.31170517206192, 2.294600447639823, 2.294600447639823, 1);
    width: 192px;
    height: 56px;
    position: absolute;
    left: 636px;
    top: 149px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.e51_18 {
    border: 3px solid rgba(208.53814512491226, 223.96173030138016, 31.168028935790062, 1);
}

.e51_13 {
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: 29px;
    position: absolute;
    left: 37px;
    top: 13.5px;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.e51_27 {
    width: 840px;
    height: 425px;
    position: absolute;
    left: 109px;
    top: 559px;
}

.e51_23 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 592px;
    height: 425px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/rectangle_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e51_23 {
    border: 5px solid rgba(0, 0, 0, 1);
}

.e51_26 {
    width: 192px;
    height: 139px;
    position: absolute;
    left: 648px;
    top: 143px;
}

.e51_19 {
    background-color: rgba(250.31170517206192, 2.294600447639823, 2.294600447639823, 1);
    width: 192px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.e51_19 {
    border: 3px solid rgba(208.53814512491226, 223.96173030138016, 31.168028935790062, 1);
}

.e51_20 {
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: 29px;
    position: absolute;
    left: 37px;
    top: 13.5px;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.e51_21 {
    background-color: rgba(250.31170517206192, 2.294600447639823, 2.294600447639823, 1);
    width: 192px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 83px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.e51_21 {
    border: 3px solid rgba(208.53814512491226, 223.96173030138016, 31.168028935790062, 1);
}

.e51_22 {
    color: rgba(0, 0, 0, 1);
    width: 127px;
    height: 29px;
    position: absolute;
    left: 32.5px;
    top: 13.5px;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}