.e1_2 {
    overflow: hidden;
}

.e1_2 {
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e1_46 {
    width: 1440px;
    height: 103px;
    position: absolute;
    left: 0px;
    top: 5px;
}

.e1_16 {
    width: 1426px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e1_9 {
    width: 1311px;
    height: 72px;
    position: absolute;
    left: 57.5px;
    top: 0px;
}

.e1_7 {
    width: 163px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_8 {
    width: 342px;
    height: 38px;
    position: absolute;
    left: 323px;
    top: 17px;
}

.e1_4 {
    color: rgba(0, 0, 0, 1);
    width: 135px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.e1_5 {
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: 38px;
    position: absolute;
    left: 224px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.e1_44 {
    width: 459px;
    height: 54px;
    position: absolute;
    left: 825px;
    top: 9px;
}

.e1_39 {
    background-color: rgba(239.26171571016312, 239.26171571016312, 239.26171571016312, 1);
    width: 459px;
    height: 54px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e1_39 {
    border: 1px solid rgba(161.49999797344208, 161.49999797344208, 161.49999797344208, 1);
}

.e1_43 {
    background-color: rgba(0, 0, 0, 0.6000000238418579);
    width: 51px;
    height: 30px;
    position: absolute;
    left: 398px;
    top: 13px;
}

.e1_70 {
    width: 259px;
    height: 912px;
    position: absolute;
    left: 0px;
    top: 109px;
}

.e1_49 {
    background-color: rgba(63.36042210459709, 117.68702656030655, 181.46172523498535, 1);
    width: 259px;
    height: 912px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_59 {
    width: 178px;
    height: 305px;
    position: absolute;
    left: 17px;
    top: 23px;
}

.e1_47 {
    width: 158px;
    height: 285px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e1_17 {
    width: 158px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_13 {
    background-color: rgba(255, 255, 255, 1);
    width: 40px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_11 {
    color: rgba(255, 255, 255, 1);
    width: 118px;
    height: 38px;
    position: absolute;
    left: 40px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_22 {
    width: 126px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 61px;
}

.e1_20 {
    background-color: rgba(255, 255, 255, 1);
    width: 35px;
    height: 31px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_18 {
    color: rgba(255, 255, 255, 1);
    width: 91px;
    height: 38px;
    position: absolute;
    left: 35px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_32 {
    width: 118px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 122px;
}

.e1_29 {
    background-color: rgba(255, 255, 255, 1);
    width: 35px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 4px;
}

.e1_30 {
    color: rgba(255, 255, 255, 1);
    width: 83px;
    height: 38px;
    position: absolute;
    left: 35px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_36 {
    width: 116px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 183px;
}

.e1_34 {
    background-color: rgba(255, 255, 255, 1);
    width: 35px;
    height: 31px;
    position: absolute;
    left: 0px;
    top: 3.5px;
}

.e1_35 {
    color: rgba(255, 255, 255, 1);
    width: 72px;
    height: 38px;
    position: absolute;
    left: 44px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_57 {
    width: 154px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 244px;
}

.e1_56 {
    background-color: rgba(255, 255, 255, 1);
    width: 35px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_50 {
    color: rgba(255, 255, 255, 1);
    width: 104px;
    height: 38px;
    position: absolute;
    left: 50px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_69 {
    width: 1183px;
    height: 914px;
    position: absolute;
    left: 282px;
    top: 138px;
    background-image: url(images/rectangle_6.png);
    background-repeat: no-repeat;
    background-size: cover;
}