.e47_3 { 
	overflow:hidden;
}
.e47_3 { 
	background-color:rgba(39.150279611349106, 176.75566256046295, 206.96173131465912, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e47_4 { 
	color:rgba(255, 255, 255, 1);
	width:821px;
	height:181px;
	position:absolute;
	left:337px;
	top:127px;
	font-family:Inter;
	text-align:center;
	font-size:128px;
	letter-spacing:0;
}
.e47_5 { 
	color:rgba(255, 255, 255, 1);
	width:881px;
	height:350px;
	position:absolute;
	left:307px;
	top:360px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
